@page
@model App.Pages.Lessons.LessonsPage
@using App.Pages.Extensions


@{
    Layout = "_Create";
}
<body>
@Html.MyEditorForCreateAndEdit(m => m.BindData.Id)
<partial name="_CreateEditLesson"/>
</body>