@page
@model App.Pages.Lessons.LessonsPage

@{
    Layout = "_Delete";
}
    <body>
        <partial name="_DeleteLesson"/>
        <input type="hidden" asp-for="Lesson.Id" />
    </body>
    
    
    

