@page
@model App.Pages.Lessons.LessonsPage


@{
    Layout = "_Details";
}

<body>
    <partial name="_LessonDetails"/>
    <div>
        <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Lesson.Id">Edit</a> |
        <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
    </div>
</body>

        
    

