@page
@model App.Pages.Instructors.InstructorsPage
@using App.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
     @Html.MyEditorForCreateAndEdit(x => x.BindData.Id)
    <partial name = "_CreateEditInstructor"/>
</body>
