@page
@model App.Pages.Instructors.InstructorsPage
@using App.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
     @Html.MyEditorForDelete(x => x.Instructor.Id)
    <partial name = "_EditInstructor"/>
</body>
