@page
@model App.Pages.Instructors.InstructorsPage
@using App.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
     @Html.MyEditorFor(x => x.Item.Id)
    <partial name = "_CreateEditInstructor"/>
</body>
