@page
@model App.Pages.Instructors.InstructorsPage
@using App.Pages.Extensions

@{
    
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Instructor.Id" />

<partial name="_CreateEditInstructor"/>
        
</body>