@page
@model App.Pages.CurrenciesPage;
@using App.Pages.Extensions

@{

    Layout = "_Create";
}
<body>
    @MyEditorForHtml.MyEditorFor(Html, m => m.Item.Id)
    <partial name="_EditCurrency"/>

</body>

