
@{
    ViewData["Title"] = "Delete";
    ViewData["Subtitle"] = Model?.GetType()?.Name?.Replace("Page",string.Empty)??"Unspecified";
    Layout = "_Layout";
    var itemId = Model?.Item?.Id ?? string.Empty;
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Subtitle"]</h4>
<hr />
<dl class="row">
@RenderBody()
<form method="post">
    <input type="hidden" asp-for-id="@itemId" />
    <input type="submit" value="Delete" handler="Delete" class="btn btn-danger" />
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</form>
</dl>
