@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Details";
    ViewData["Subtitle"] = Model?.GetType()?.Name?.Replace("Page",string.Empty)??"Unspecified";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Subtitle"]</h4>
<hr />
<div class="container">
<dl class="row">
    @RenderBody()
</dl>
</div>