@page
@model App.Pages.Students.StudentsPage
@using App.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
@Html.MyEditorForCreateAndEdit(m => m.BindData.Id)
<partial name="_CreateEditStudent"/>
</body>