@page
@model App.Pages.Students.StudentsPage



@{
    Layout = "_Details";
}

<body>
<partial name="_StudentDetails"/>
<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>
</body>
<div>
   
</div>
