@page
@using App.Facade.Party
@model Pages.Party.StudentsPage
@{
    Layout = "_Details";
    var columns = new[] { 
        nameof(LessonView.LessonName)
        , nameof(LessonView.Instructor)
        , nameof(LessonView.LessonTime)
        , nameof(LessonView.Location)
    };
    object? getValue<T>(string propertyname, T item) {
        var pi = typeof(T).GetProperty(propertyname);
        return pi?.GetValue(item);
    }
}

<Body>
    <partial name="_StudentDetails"/>
<br>
    <h4>Lessons</h4>
<br>

    <table class="table">
    <thead>
    <tr>
        @foreach (var name in columns) { <td> @Html.Raw(name) </td> }
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lessons.Value) {
            <tr>
                @foreach (var name in columns) {
                    <td>
                    @Html.Raw(getValue(name, item))
                    </td>
                }
            </tr>
        }
    </tbody>
    </table>
</Body>

