@page
@model App.Pages.Students.StudentsPage
@using App.Pages.Extensions

@{
    
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="BindData.Id" />

<partial name="_CreateEditStudent"/>
        
</body>